@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bradius: 30px;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Reset some default styles */
body, h1, h2, p, ul, li, strong {
    margin: 0;
    padding: 0;
    color: black;
}

/* Define overall page styles */
body {
    background-color: black;
    line-height: 1.6;
}

header h1 {
    color: white;
    background-color: blue;
    margin-left: 15%;
    text-align: left;
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--bradius);
}

section {
    margin-bottom: 30px;
}

.embedded-doc {
    width: 100vw;
    height: 100vh;
}

.aboutsectiontitle {
    color: black;
    font-size: 22px;
    margin-bottom: 10px;
}

#mission {
    padding-top: 2px;
}

#mission p {
    font-size: 1.0em;
    margin-bottom: 40px;
}

#what-sets-us-apart li {
    font-size: 0.9em;
    margin-bottom: 20px;
}

#what-sets-us-apart a {
    color: #0000EE;
    font-size: 0.9em;
}

#aboutpagegetstartedbutton {
    display: block;
    float: center;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5em;
}

.contact-button {
    background-color: #555;
    color: white;
    border: 2px solid black;
    border-radius: var(--bradius);
    text-align: center;
    float: center;
    margin: auto;
    margin-right: 1em;
    padding: 15px 30px;
    font-size: 1.0em;
    font-weight: bold;
    width: 8em;
}

.contact-button:hover {
    background-color: lightgrey;
    color: black;
    transform: scale(1.1);
}

.formfield {
    width: 60%;
    height: 1.8em;
    color: rgb(38, 50, 56);
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 1px;
    background: #DFDFDF;
    padding: 10px 20px;
    border: none;
    border-radius: var(--bradius);
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 20px;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0em;
}

#submitmessagestatus {
    color: green;
    text-align: center;
    padding-top: 10px;
    font-size: 1.3em;
}

#contactinfodiv {
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--bradius);
    color: black;
}

.contactInfoItem {
    color: black;
    float: center;
    margin: auto;
    text-align: center;
}

.phoneitem {
    font-size: 1.0em;
}

.emailitem {
    font-size: 0.8em;
}

/*
ul {
    list-style-type: circle;
    margin-left: 20px;
}

ul li {
    text-align: left;
}
 */

footer {
    margin-top: 8em;
    text-align: center;
    color: white;
    padding: 10px 0;
}

footer p {
    color: white;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    #mission {
        padding-top: 10px;
    }

    .formfield {
        width: 90%;
        height: 2.4em;
    }
}

