@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --backgroundcolor: #CCCCCC;
    --secondarycolor: #FFFFFF;
    --headercolor: #333333;
    --maintextcolor: #000000;
    --blue: #1919FF;
    --deepblue: #001EFF;
    --lightbluecustom: rgba(0, 242, 255, 0.6);
    --loginblue: #00EE33;
    --brightgreen: #00E100;
    --green: #1DB924;
    --altgreen: #0A5C36;
    --landingmaincolor: #00F2FF;
    --bradius: 30px;
    --border-thin: 0.1rem;
    --arrow-translate: 0,-50%;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
    background-color: var(--headercolor);
    height: 55px;
    display: inline-block;
    width: 100%;
    justify-content: right;
    float: right;
    padding: 20px 20px 20px 20px;
}

header a {
    float: right;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
}

nav a {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    left: -20px;
    z-index: 3;
    margin-left: 0;
    padding-left: 0;
}

.downarrowsymbol {
    padding-left: 8px;
}

p {
    font-size: 24px;
}

ol, ol li, ol li p {
    color: black;
}

li a {
    cursor: pointer;
}

strong {
    color: black;
}

.logocontainer {
    background: var(--blue);
    border-radius: var(--bradius);
    width: 8em;
    text-align: center;
    float: center;
    margin: auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

.westmessagelogo {
    background: var(--blue);
    color: white;
    font-size: 2em;
    padding: 10px 5px;
}

.headerbutton {
    float: right;
    flex: 1;
    display: inline-block;
    margin: 5px 0px 5px 5px;
}

.mobileformatspan {
    display: none;
}

/* ================================== */
/* Profile Dropdown Menu Section */
/* ================================== */
.action{
  position:fixed;
  top:10px;
  right:30px;
}
.action .profile{
  position:relative;
  width:60px;
  height:60px;
  border-radius:50%;
  overflow:hidden;
  cursor:pointer;
}
.action .profile img{
  position:absolute;
  top:0; left:0;
  width:100%; height:100%;
  object-fit:cover;
}
.action .menu{
  position:absolute;
  top:120px;
  right:-10px;
  padding:10px 20px;
  background: #fff;
  width:200px;
  box-sizing: 0 5px 25px rgba(0,0,0,.1);
  border-radius:15px;
  transition:.5s;
  visibility:hidden;
  opacity:0;
}
.action .menu.active{
  top:80px;
  visibility:visible;
  opacity:1;
}
.action .menu::before{
  content:'';
  position:absolute;
  top:-5px;
  right:28px;
  width:20px;
  height:20px;
  background: #fff;
  transform: rotate(45deg);
}
.action .menu h3{
  width:100%;
  text-align:center;
  font-size: 18px;
  padding:20px 0;
  font-weight: 500;
  font-size: 18px;
  color:#555;
  line-height: 1.2em;
}
.action .menu h3 span{
  font-size: 14px;
  color:#cecece;
  font-weight: 400;
}
.action .menu ul li{
  list-style:none;
  padding:10px 0;
  border-top:1px solid rgba(0,0,0,0.05);
  display:flex;
  align-items:center;
  
}
.action .menu ul li i{
  font-size: 26px;
  width:32px;
  margin-right: 10px;
  opacity:.6;
  transition:.5s;
}
.action .menu ul li:hover i{
  opacity:1;
}
.action .menu ul li a{
  display:inline-block;
  text-decoration:none;
  color:#555;
  font-weight: 500;
  transition:.5s;
}
.action .menu ul li:hover a{
  color:#4834d4
}

#getstartedpopup {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 4;
    position: fixed;
    top: 0px;
}

#getstartedpopup-content {
    background-color: #DDDDDD;
    border: 3px solid black;
    border-radius: var(--bradius);
    width: 30vw;
    height: 40vh;
    float: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    position: fixed;
    top: 20vh;
    left: 35vw;
}

#getstartedpopup-content h1 {
    color: black;
    font-size: 1.8em;
    font-weight: 750;
    margin-top: 50px;
    margin-bottom: 10px;
}

#getstartedpopup-content img {
    border: 2px solid black;
    border-radius: var(--bradius);
    max-width: 20vw;
    height: auto;
    margin: auto;
}

#closePopup-faIcon {
    cursor: pointer;
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

#closePopup-faIcon:hover {
    transform: scale(1.1);
}

footer {
    background-color: black;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

footer a {
    padding: 0px 30px 0px 30px;
}

footer p {
    font-size: 1.0em;
    padding: 30px;
    text-align: center;
}

#signoutbutton {
    background-color: rgb(220, 0, 0);
}

#signoutbutton:hover {
    background-color: #555;
}

input {
    width: 20vw;
    height: 1vw;
}

input[type="file"] {
    /* display: none; */
    padding: 1.2em 1.2em;
    transition: 1s;
}

.cancel-button-class {
    border: 1px solid black;
    background-color: #EE2323;
    color: black;
}

.custom-file-upload {
    background-color: #657E36;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
}

.custom-file-upload:hover {
    background-color: #555;
    color: white;
}

.remove-phone-number-class {
    background-color: rgb(255, 0, 0);
    color: #fff;
    padding: 0.1rem 0.4rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.status-class {
    color: rgb(0, 155, 0);
    text-align: center;
}

#newmessagelowerdiv {
    width: 65%;
}

#newmessagelowerdiv input {
    color: white;
}

#message {
    width: 100%;
    padding: 2px 0px 2px 0px;
    color: black;
}

#maincontainer {
    width: 100%;
    height: 100vh;
    margin-bottom: 0px;
    background-color: lightgrey;
    display: inline-block;
}

#setup-container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
    background-color: rgb(0, 150, 50);
}

#uploadclientsfilediv {
    margin: auto;
    padding: 50px;
    float: left;
}

#uploadclientsfilediv input {
    color: white;
}

#uploadclientsmanuallydiv {
    float: left;
}

#uploadclientsmanuallydiv label {
    color: white;
}

#displayclientsdiv {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: auto;
    max-height: 80%;
	overflow-y: scroll;
}

#showuploadnewclientsspan {
    display: flex;
    justify-content: center;
}

#showuploadnewclientsbutton {
    background-color: #657E36;
    padding: 20px 20px; 
    margin: 0 10px;
}

#showuploadnewclientsbutton:hover {
    background-color: #555;
}

.uploadclientsdiv {
    background-color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-align: left;
    margin: auto;
}

/*
#message-form {
    background-color: mediumseagreen;
    padding: 8px 16px;
    text-align: left;
}
 */


/* ===================================== */
/* ===================================== */


/* Reset some default styles */
/*
h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
 */

body {
    background-color: var(--backgroundcolor);
    color: white;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: white;
    transform: scale(1.1);
}

.above-nav-div {
    float: top;
    min-height: 90px;
}

#contact-sales-button {
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    color: black;
    vertical-align: middle;
    float: right;
    margin: 4px 2px;
}

#login-button {
    background-color: rgb(0, 0, 0);
    color: var(--landingmaincolor);
    border: 1px solid var(--landingmaincolor);
    font-size: 1em;
    vertical-align: middle;
    float: right;
    margin-left: 3em;
    display: none;
}

.logo {
    width: 30vw;
    height: auto;
}

.logo img {
   width: 100%;
   height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/*
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}
 */

/* Hero Section */
.hero {
    background-image: url('images/hero01-large.png');
    background-size: cover;
    background-position: 10% 100%;
    color: #FFFFFF;
    max-width: 1900px;
    height: 65vh;
    text-align: center;
    float: center;
    margin: auto;
    padding: 48px 0;
}

.hero-content {
    background-color: var(--secondarycolor);
    color: white;
    border: 2px solid black;
    border-radius: var(--bradius);
    max-width: 700px;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 0.5em;
    padding-top: 1px;
}

.hero-content h2, h2, h3, h4 {
    color: black;
}

.hero-content h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.hero-content h3 {
    font-size: 1.2em;
}

#mobile-hero-content {
    display: none;
    float: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

#mobile-hero-image {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.mobile-headline-card {
    border: 2px solid black;
}

#start-button-new-user {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.get-started-button {
    background-color: var(--landingmaincolor);
    color: black;
    display: inline;
    border: 2px solid black;
    border-radius: var(--bradius);
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 10px;
}

#getstartedbutton2 {
    margin-top: 2.5em;
}

.cta-button:hover {
    background-color: #FF8C00;
}

/* Features Section */
.features {
    padding: 40px 0;
    text-align: center;
}

.features-label {
    background-color: var(--backgroundcolor);
    color: white;
    border-radius: var(--bradius);
    padding: 20px;
    width: 40vw;
    float: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.features-label h1 {
    color: white;
    font-size: 1.8em;
}

.features-label h2 {
    color: white;
}

.headline-card {
    background-color: var(--secondarycolor);
    color: var(--blue);
    padding: 20px 0px;
    border-radius: var(--bradius);
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 60vw;
    max-width: 800px;
}

.feature-card {
    background-color: var(--secondarycolor);
    color: var(--blue);
    padding: 20px;
    border-radius: var(--bradius);
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50vw;
    height: 55vh;
}

.mobile-ss-container {
    width: 50%;
}

#solutionsdiv {
    background-color: var(--secondarycolor);
    border-radius: var(--bradius);
    width: 50vw;
    min-width: 1300px;
    margin: auto;
    margin-bottom: 60px;
}

#solutionsdiv h1 {
    color: var(--maintextcolor);
    font-size: 1.9em;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 20px;
}

.solutionbox {
    background-color: var(--lightbluecustom);
    border-radius: var(--bradius);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 350px;
    height: 160px;
    padding: 50px 8px;
    margin: 10px 20px;
}

.solutionbox p {
    color: var(--maintextcolor);
    margin-top: 10px;
}

#howitworksdiv, #solutionsdiv {
    padding: 20px 10px 0px 10px;
}

.howitworkslist {
    margin-top: 2px;
    margin-left: 40px;
}

.howitworkslist * {
    font-size: 24px;
}

.howitworkslist li span p {
    color: black;
    padding: 0;
    margin-left: 10px;
}

.feature-details {
    background-color: white;
    border: 2px solid black;
    border-radius: var(--bradius);
    padding: 40px 4px 2px 4px;
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.mobile-ss-container .feature-details {
    width: 50%;
}

.styled-ul {
    list-style: none;
    text-align: left;
}

.styled-ul li {
    color: black;
    margin-bottom: 0.6em;
}

.styled-ul li::before {
    content: "\2022";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.indented-li li {
    margin-top: 0.3em;
}

.feature-details ul {
    list-style: circle outside none;
    margin-left: 2em;
}

.feature-details ul li {
    color: black;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    position: relative;
    left: -10px;
}

.feature-details ul li span {
    position: relative;
    left: -20px;
}

.feature-icon {
    font-size: 36px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.fa-icon-generic {
    color: black;
    margin-bottom: 0.6em;
}

.feature-card h3 {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.feature-card p {
    color: black;
    text-align: left;
}

.feature-card img {
    border-radius: var(--bradius);
    border: 1px solid black;
    float: right;
}

.browser-screenshot {
    max-width: 45%;
    height: auto;
    margin-top: 10px;
}

.mobile-screenshot {
    max-height: 100%;
    width: auto;
    margin-right: 5%;
}

.services {
    padding: 40px 0;
    text-align: center;
}

/* About Section */
.about {
    background-color: grey;
    color: black;
    padding: 80px 0;
    text-align: center;
}

/* Contact Section */
.contact {
    background-color: black;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.about p, .contact p {
    text-align: center;
}

/* ================================== */
/* Side Menu
/* ================================== */
.side-menu-class {
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(#535353 0%, black 100%); */
    width: 20%;
    height: 100%;
    float: left;
}

.side-menu-class button {
    background-color: black;
    border-radius: 0px;
    border: 1px solid white;
    margin-top: 0px;
    width: 100%;
    height: 60px;
}

.side-menu-class button:hover {
    background-color: #555;
}

/* ================================== */
/* New Message Section */
/* ================================== */
#new-message-container {
    display: block;
}

#new-message-container div, span, table, h2 {
    text-align: center;
    margin: auto;
    float: center;
}

#recipientmanualinputdiv {
    margin-top: 30px;
    border: 1px solid black;
    background-color: white;
    width: 65%;
    padding: 10px 0px 10px 0px;
}

#recipientmanualinputdiv p {
    color: black;
    padding: 0;
}

#manualrecipientinputspan h3, label, input {
    color: black;
    padding: 0;
    margin: 0;
}

#savetomyclientsandselectbutton {
    margin-left: 20%;
    border: 1px solid black;
    background-color: #657E36;
    color: black;
}

#savetomyclientsandselectbutton:hover {
    background-color: #555;
    color: white;
}

#sendmessagebutton {
    width: 100px;
    padding: 15px 20px 15px 20px;
    background-color: #657E36;
    border: 1px solid black;
    color: black;
}

#sendmessagebutton:hover {
    background-color: #555;
    color: white;
}

#cancelmessagebutton {
    width: 100px;
    padding: 15px 20px 15px 20px;
    background-color: rgb(255, 0, 0);
}

#cancelmessagebutton:hover {
    background-color: #555;
}

/* ================================== */
/* Sent Messages Section */
/* ================================== */
.section-container {
    /* background-color: black;
    background-image: linear-gradient(#0000E0, #0000FF);
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    background-image: linear-gradient(black 0%, lightblue 100%);
    color: white;
    /* border-radius: 5px; */
    float: right;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 100%;
    display: none;
}

.section-heading {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    color: white;
}

.sent-message-container {
    background-color: grey;
    align: center;
    text-align: center;
    justify-content: center;
    float: center;
    margin: auto;
    width: 100%;
    height: 100%;
    color: white;
}

.sent-message-container-section {
    float: center;
    align: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 2px solid white;
}

#sent-message-timestamp {
    padding: 30px;
}

#sent-message-messagebody-div {
    padding: 5px 5px 5px 5px;
    width: 50%;
    height: 10%;
    overflow-y: scroll;
}

.sent-messages-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: left;
    align: left;
    justify-content: left;
    float: left;
    /* overflow-y: auto; */
}

/*
.sent-messages-list li {
    display: block;
    width: 100%;
    margin-left: 0px;
    float: left;
    color: black;
    list-style: none;
}
 */

.sent-message-preview {
    align: center;
    justify-content: center;
    float: center;
    background-color: lightblue;
    border: 2px solid white;
    border-radius: 0px;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
}

.sent-message-preview h3 {
    font-size: 14px;
    color: black;
}

.sent-message-preview p {
    display: none;
}

#sent-message-recipients {
    float: center;
    list-style: none;
    align: center;
    text-align: center;
    justify-content: center;
    color: white;
}

#sent-message-recipients-div {
    width: 15%;
    min-width: 150px;
    height: 20%;
    margin-top: 30px;
    overflow-y: scroll;
}

.sent-message-image {
    max-width: 450px;
    height: auto;
    margin: auto;
    align: center;
    text-align: center;
    justify-content: center;
}

.message-recipient-li {
    text-align: center;
}


/* ================================== */
/* Scrollbar */
/* ================================== */
.scrollbar {
	margin-left: 0px;
	float: left;
    width: 30%;
    height: 100%;
	background: white;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}

#wrapper {
	text-align: center;
	width: 500px;
	margin: auto;
}

.style-15::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: white;
	border-radius: 0px;
}

.style-15::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

.style-15::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: white;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}


/* ================================== */
/* Clients */
/* ================================== */
.client-selection-div {
    width: 65%;
    height: 30%;
    margin: auto;
    overflow-y: scroll;
}

.client-selection-list {
    border: 1px solid black;
    background-color: white;
    color: black;
    /* margin-bottom: 30px; */
}

/* #client-selection-list-table th { */
.client-selection-list th {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#client-selection-list-table {
    width: 100%;
    height: 100%;
}

#client-selection-list-table th, td {
    color: black;
    width: 250px;
    /* max-width: 150px; */
    height: auto;
}


/* ================================== */
/* Support Section */
/* ================================== */
#support-section-maindiv {
    color: white;
    text-align: left;
    justify-content: left;
    margin: auto;
    padding-left: 30px;
}

#support-section-maindiv h3 {
    padding-bottom: 10px;
}

#support-section-maindiv label, p, form {
    color: white;
    text-align: left;
    margin-left: 30px;
}

#support-section-maindiv input[type="radio"] {
    width: 30px;
}

#supportcontactmethodconfirmaddressdiv p {
    color: white;
    padding: 0;
}

#supportcontactmethodconfirmaddressdiv input {
    color: black;
    margin-left: 5px;
}

#issuedescription {
    color: black;
    width: 65%;
}

/* ================================== */
/* Mobile */
/* ================================== */
#brand {
  background-color: var(--blue);
  border-radius: var(--bradius);
  font-weight: bold;
  font-size: 28px;
  display: inline;
  float: left;
  margin-left: 60px;
}

#brand a {
  padding: 10px 5px;
  text-decoration: none;
}

header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

header ul a {
  color: white;
}

header ul li {
  padding: 5px 5px 5px 5px;
  float: center;
  font-size: 1.2em;
  text-align: center;
}

header ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  margin-right: 30px;
}

#login {
  border: 1px solid var(--loginblue);
  margin-left: 30px;
}

#signup {
  border: 1px solid var(--landingmaincolor);
}

#signup a {
  color: var(--landingmaincolor);
  text-decoration: none;
}

#login a {
  color: var(--loginblue);
  text-decoration: none;
}

#hamburger-icon {
  margin-top: 5px;
  float: left;
  padding: 0px 40px 10px 40px;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: var(--landingmaincolor);
  margin: 6px 0px;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  /* background-color: rgb(255, 255, 255); */
  background-color: black;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  float: center;
  text-align: center;
  justify-content: center;
}

.mobile-menu li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-menu a {
  color: var(--landingmaincolor);
}


/* @media (min-width: 800px) { */
/* Mobile browser Responsive Styles */
@media screen and (max-width: 799px) {
    header {
        background-color: black;
        height: 40px;
    }

    header nav {
        display: none;
    }

    #mobile-menu a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #login, #signup {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #hamburger-icon {
        display: block;
    }

    #login-button {
        display: block;
        margin-left: 25px;
    }

    #brand {
        float: right;
        font-size: 1.0em;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-right: 0px;
    }

    .hero {
        background-size: contain;
        height: 190px;
        padding: 4px 0 0px 0;
        display: none;
    }

    .hero-content {
        margin-top: 200px;
    }

    .hero-content, .headline-card {
        width: 90%;
    }

    .hero-content h2 {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .hero-content h3 {
        font-size: 1.1em;
        font-weight: 600;
    }

    #browser-hero-content {
        display: none;
    }

    #mobile-hero-content {
        display: inline;
        border: none;
        padding: 0;
        margin: 0;
    }

    .logocontainer {
        margin-top: 0.2em;
        margin-bottom: 0.8em;
    }

    #start-button-new-user {
        margin-top: 1.2em;
        margin-bottom: 0.6em;
    }

    .mobileformatspan {
        display: block;
    }

    #demobutton1 {
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    #getstartedbutton2 {
        margin-top: 1.3em;
    }

    #solutionsdiv {
        width: 90%;
        min-width: 90%;
    }

    .solutionbox {
        margin: auto;
        width: 90%;
    }

    .solutionbox p {
        font-size: 21px;
    }

    .howitworkslist * {
        margin: 0px;
        font-size: 20px;
        padding: 0px;
    }

    .features-label {
        padding: 4px;
        width: 90%;
    }

    .feature-card {
        padding: 4px;
        width: 90%;
    }

    .browser-ss-container {
        height: 116vh;
    }

    .mobile-ss-container {
        height: 130vh;
    }

    .mobile-ss-container .feature-details,
    .feature-details {
        float: center;
        width: 96%;
        padding: 50px 4px 10px 4px;
        margin-top: 4px;
        margin-left: 0px;
    }

    .feature-details ul li {
        left: 15px;
    }

    .feature-details ul li span {
        left: -20px;
    }

    .feature-card img {
        padding: 0;
        float: left;
        margin-top: 1.8em;
    }

    .browser-screenshot {
        max-width: 90%;
        height: auto;
        margin: 17px;
    }

    .mobile-screenshot {
        max-height: 50%;
        width: auto;
        margin-left: 18%;
        margin-right: auto;
    }

    #getstartedpopup-content {
        width: 90vw;
        height: 55vh;
        top: 10vh;
        left: 2vw;
    }

    #getstartedpopup-content img {
        max-width: 90vw;
    }

    footer a {
        padding: 0px 10px 0px 10px;
        font-size: 0.9em;
    }

    footer p {
        padding: 50px 0px;
        font-size: 0.9em;
    }
}
