@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #001EFF;
    --green: #1DB924;
    --altgreen: #0A5C36;
    --bradius: 30px;
}

* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
}

header {
    display: block;
    background-color: black;
    height: 70px;
    width: 100%;
    justify-content: right;
    float: right;
    padding: 0;
    margin: 0;
}

header a {
    float: right;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

.pagetitle {
    background: var(--blue);
    color: white;
    border-radius: var(--bradius);
    padding: 10px 5px;
    float: center;
    font-weight: bold;
    font-size: 2.5em;
    width: 8em;
    margin: auto;
    margin-top: 10px;
    display: block;
}

label, input {
    font-size: 1.1em;
    margin-bottom: 0.4em;
}


.main {
    display: block;
    background-color: white;
    width: 500px;
    height: 550px;
    margin: auto;
    margin-top: 205px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    color: black;
    float: center;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}

.sign {
    margin-top: 30px;
    color: black;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 2px;
    display: block;
}

.un {
    width: 76%;
    color: #000000;
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 1px;
    background: lightgrey;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 20px;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0em;
}

form.form1 {
    padding-top: 40px;
    float: center;
    align-content: center;
    text-align: center;
}

.pass {
    width: 76%;
    color: #000000;
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 1px;
    background: lightgrey;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0em;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5em;
    color: #fff;
    background: var(--green);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 1.0em;
    font-weight: 600;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    padding-top: 30px;
    font-size: 0.9em;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(0, 50, 180);
}

#signupbutton, #signinbutton {
    display: block;
    float: center;
    margin: auto;
}

#signupbutton {
    margin-bottom: 70px;
}

.noaccountlink {
    display: inline;
    padding-right: 2px;
    color: rgb(0, 50, 180);
    font-size: 0.9em;
}

.existingaccountlink {
    display: inline;
    font-size: 0.9em;
}

.errormessage {
    color: red;
    padding: 4px 0 0 4px;
}

#setup-container {
    display: none;
    /*
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
    background-color: rgb(0, 150, 50);
     */
}

#submitsettingsbutton {
    font-size: 1.1em;
    margin: auto;
    margin-top: 0.9em;
    float: center;
}

footer {
    margin-top: 50px;
    float: center;
    text-align: center;
}


/* ================================== */
/* Mobile */
/* ================================== */
#brand {
  background-color: var(--blue);
  border-radius: var(--bradius);
  font-weight: bold;
  font-size: 1.8em;
  display: inline;
  float: left;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-left: 40px;
}

#brand a {
  padding: 10px 10px 10px 10px;
  color: white;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

ul a {
  color: white;
}

ul li {
  padding: 5px 5px 5px 5px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  margin-right: 30px;
}

#login {
  border: 1px solid #498afb;
  margin-left: 30px;
}

#signup {
  border: 1px solid red;
}

#signup a {
  color: red;
  text-decoration: none;
}

#login a {
  color: #498afb;
  text-decoration: none;
}

#hamburger-icon {
  margin-top: 0px;
  float: left;
  padding: 0px 40px 10px 40px;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: var(--green);
  margin: 6px 10px;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  /* background-color: rgb(255, 255, 255); */
  background-color: black;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  float: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
}

.mobile-menu li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-menu a {
  color: var(--green);
}


/* @media (max-width: 900px) {
@media screen and (max-width: 799px) { */
@media (max-width: 1300px) {
    .main {
        width: 90%;
        margin-top: 50px;
    }

    .un, .pass {
        width: 90%;
    }

    header nav {
        display: none;
    }

    #mobile-menu a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #login, #signup {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: black;
    }

    #hamburger-icon {
      display: block;
    }

    #brand {
        float: right;
        font-size: 1.0em;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-right: 15px;
    }
}

